<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<title>Candidate submission - AE</title>
		<style type='text/css'>

			@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

			body {
				margin: 0;
				padding: 0;
				background-color: #f6f9fc;
			}
			table {
				border-spacing: 0;
			}
			td {
				padding: 0;
			}
			img {
				border: 0;
			}

			h1 {
				font-size: 22px;
				font-weight: 700;
				line-height: 30px;
				margin: 0;
			}

			h2 {
				font-size: 22px;
				font-weight: 400;
				line-height: 30px;
				margin: 0;
			}
			h3 {
				font-size: 16px;
				font-weight: 600;
				line-height: 30px;
				margin: 0;
			}
			h4 {
				color: #FFFFFF;
				font-size: 14px;
				font-weight: 600;
				line-height: 30px;
				margin: 0;
			}

			p, li {
				font-size: 16px;
				font-weight: 400;
				line-height: 22px;
				margin: 0;
			}

			a {
				color: #3F8CFF;
			}
		</style>
	</head>
	<body>
		<center style='width:100%;max-width:600px;background-color:#FFFFFF;margin:0 auto'>
			<div style='max-width:600px;background-color: #FFFFFF'>
				<table align='center' style="
					margin: 0 auto;
					width: 100%;
					max-width: 600px;
					border-spacing: 0;
					font-family: 'Montserrat', sans-serif;
					color: #333333;
					background-color: #FFFFFF;"
				>
 <!-- First block: Header banner -->
					<tr>
						<td>
							<img src='https://email-sending.herokuapp.com/img/banner.png' alt='Header'width='612px' height='95px' style="min-width:612px">
						</td>
					</tr>
 <!-- Second block: Name and position -->
					<tr>
						<td style='padding:30px 30px 10px 30px'>
							<table>
								<h1>{{name}}</h1>
								<h2>{{position}}</h2>
							</table>
						</td>
					</tr>
 <!-- Third block: Main info -->
					<tr>
						<td style='padding:0px 30px 30px 30px'>
							<table width='100%' style='border-spacing:5px'>
								<tr>
									<td style="display:table;width:100%;">
										<table style="
											display: inline-block;
											vertical-align: top;
											width:35%;
										">
											<tr>
												<td>
													<h3>Bio</h3>
												</td>
											</tr>
										</table>
										<table style="
											display: inline-block;
											vertical-align: top;
											width:65%;
										">
											<tr>
												<td>
													<p>{{bio}} <a href=`{{resumeLink}}`>Review resume</a></p>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td style="display:table;width:100%;">
										<table style="
											display: inline-block;
											vertical-align: top;
											width:35%;
										">
											<tr>
												<td>
													<h3>Experience</h3>
												</td>
											</tr>
										</table>
										<table style="
											display: inline-block;
											vertical-align: top;
											width:65%;
										">
											<tr>
												<td>
													<p>{{experience}}</p>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td style="display:table;width:100%;">
										<table style="
											display: inline-block;
											vertical-align: top;
											width:35%;
										">
											<tr>
												<td>
													<h3>Location</h3>
												</td>
											</tr>
										</table>
										<table style="
											display: inline-block;
											vertical-align: top;
											width:65%;
										">
											<tr>
												<td>
													<p>{{location}}</p>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td style="display:table;width:100%;">
										<table style="
											display: inline-block;
											vertical-align: top;
											width:35%;
										">
											<tr>
												<td>
													<h3>Earliest availability</h3>
												</td>
											</tr>
										</table>
										<table style="
											display: inline-block;
											vertical-align: top;
											width:65%;
										">
											<tr>
												<td>
													<p>{{earliestAvailability}}</p>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td style="display:table;width:100%;">
										<table style="
											display: inline-block;
											vertical-align: top;
											width:35%;
										">
											<tr>
												<td>
													<h3>English</h3>
												</td>
											</tr>
										</table>
										<table style="
											display: inline-block;
											vertical-align: top;
											width:65%;
										">
											<tr>
												<td>
													<p>{{english}}</p>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td style="display:table;width:100%;">
										<table style="
											display: inline-block;
											vertical-align: top;
											width:35%;
										">
											<tr>
												<td>
													<h3>Expert</h3>
												</td>
											</tr>
										</table>
										<table style="
											display: inline-block;
											vertical-align: top;
											width:65%;
										">
											<tr>
												<td>
													<p>{{expert}}</p>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td style="display:table;width:100%;">
										<table style="
											display: inline-block;
											vertical-align: top;
											width:35%;
										">
											<tr>
												<td>
													<h3>Intermediate</h3>
												</td>
											</tr>
										</table>
										<table style="
											display: inline-block;
											vertical-align: top;
											width:65%;
										">
											<tr>
												<td>
													<p>{{intermediate}}</p>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td style="display:table;width:100%;">
										<table style="
											display: inline-block;
											vertical-align: top;
											width:35%;
										">
											<tr>
												<td>
													<h3>Test task</h3>
												</td>
											</tr>
										</table>
										<table style="
											display: inline-block;
											vertical-align: top;
											width:65%;
										">
											<tr>
												<td>
													<p>{{testTask}}
													{{#if testLink}} <a href=`{{testLink}}`>Review test</a></p> {{/if}}
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td style="display:table;width:100%;">
										<table style="
											display: inline-block;
											vertical-align: top;
											width:35%;
										">
											<tr>
												<td>
													<h3>Tech interview</h3>
												</td>
											</tr>
										</table>
										<table style="
											display: inline-block;
											vertical-align: top;
											width:65%;
										">
											<tr>
												<td>
													<p>{{techInterview}}
													{{#if interviewLink}} <a href=`{{interviewLink}}`>Review inteview</a></p> {{/if}}
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td style="display:table;width:100%;">
										<table style="
											display: inline-block;
											vertical-align: top;
											width:35%;
										">
											<tr>
												<td>
													<h3>Soft skills</h3>
												</td>
											</tr>
										</table>
										<table style="
											display: inline-block;
											vertical-align: top;
											width:65%;
										">
											<tr>
												<td>
													<p>{{softSkills}}</p>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
<!-- Fourth block: Summary -->
					<tr style='background:#F4F4F4'>
						<td style="padding:30px">
							<table>
								<h1>Summary</h1>
								<!-- For each element in the array: summary, display a <li> tag -->
								{{#each summary}}<p style='padding-bottom:10px'>{{this}}</p>{{/each}}
							</table>
						</td>
					</tr>
<!-- 5th block: Tech Interview feedback -->
          			<tr>
						<td style="padding:30px">
							<table style='border-spacing:5px'>
								<h1 style='padding-bottom:5px'>Technical interview feedback</h1>
								<tr>
									<td style="display:table;width:100%;">
										<table style="
											display: inline-block;
											vertical-align: top;
											width: 10%;
										">
											<tr>
												<td>
													<h3>Pros</h3>
												</td>
											</tr>
										</table>
										<table style="
											display: inline-block;
											vertical-align: top;
											width: 90%;
										">
											<tr>
												<td>
													<table>
														<ul style="margin-top:3.5px">
															<!-- For each element in the array: prosArray, display a <li> tag -->
															{{#each prosArray}}<li style='padding-bottom:10px'>{{this}}</li>{{/each}}
														</ul>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td style="display:table;width:100%;">
										<table style="
											display: inline-block;
											vertical-align: top;
											width: 10%;
										">
											<tr>
												<td>
													<h3 style='margin-top:-3.5px'>Cons</h3>
												</td>
											</tr>
										</table>
										<table style="
											display: inline-block;
											vertical-align: top;
											width: 90%;
										">
											<tr>
												<td>
													<table>
														<ul style="margin-top:3.5px">
															<!-- For each element in the array: consArray, display a <li> tag -->
															{{#each consArray}}<li style='padding-bottom:10px'>{{this}}</li>{{/each}}
														</ul>
													</table>
												</td>
											</tr>
										</table>
									</td>

								</tr>
							</table>
						</td>
					</tr>
<!-- Fourth block: Summary -->
					<tr style='background:#F4F4F4'>
						<td style="padding:30px">
							<table>
								<h1>Schedule a meeting with {{name}}</h1>
								<p style='padding-top:10px'>{{name}} is available for an interview on:</p>
								<ul style="padding-top:5px">
									<!-- For each element in the array: scheduleArray, display a <li> tag -->
									{{#each scheduleArray}}<li style='padding-bottom:10px'>{{this}}</li>{{/each}}
								</ul>
							</table>
						</td>
					</tr>
				</table>
			</div>
		</center>
	</body>
</html>
