<div class="container">
    <h5>Recruiter email: {{recruiterEmail}}</h5>
</div>

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/form" method="post" role="form" enctype="application/x-www-form-urlencoded">

                <legend>Compose:</legend>

                <!-- *** -->
                <div class="form-group">
                    <label for="subject">Subject *</label>
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required
                    value="William Jordan - Candidate Submission">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="ccArray">CC</label>
                    <textarea type="text" class="form-control" name="ccArray" id="ccArray" placeholder="CC"></textarea>
                </div>

                <legend>Candidate Submission:</legend>

                <!-- *** -->
                <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name" required
                    value="William Jordan">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email" required
                    value="zetter.fer@gmail.com">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="position">Position *</label>
                    <input type="text" class="form-control" name="position" id="position" placeholder="Position" required
                    value="Junior Backend Developer">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="bio">Bio *</label>
                    <input type="text" class="form-control" name="bio" id="bio" placeholder="Bio" required
                    value="Highly talented Full Stack Engineer that could be a great fit for the Zumper team.">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="resumeLink">CV Link *</label>
                    <input type="text" class="form-control" name="resumeLink" id="resumeLink" placeholder="CV Link" required
                    value="http://example.com/">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="experience">Experience *</label>
                    <input type="text" class="form-control" name="experience" id="experience" placeholder="Experience" required
                    value="5 years">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="location">Location *</label>
                    <input type="text" class="form-control" name="location" id="location" placeholder="Location" required
                    value="Bogotá, Colombia">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="earliestAvailability">Earliest Availability *</label>
                    <input type="text" class="form-control" name="earliestAvailability" id="earliestAvailability" placeholder="Earliest Availability"
                    required value="February 8, 2022">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="english">English *</label>
                    <input type="text" class="form-control" name="english" id="english" placeholder="English" required
                    value="Upper-intermediate">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="expert">Expert *</label>
                    <input type="text" class="form-control" name="expert" id="expert" placeholder="Expert" required
                    value="Node.js, Angular, Redux Hooks, MVV, MVVM">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="intermediate">Intermediate *</label>
                    <input type="text" class="form-control" name="intermediate" id="intermediate" placeholder="Intermediate"
                    required value="React Native, React.js">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="testTask">Test Task *</label>
                    <input type="text" class="form-control" name="testTask" id="testTask" placeholder="Test Task" required
                    value="Good">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="testLink">Test Link *</label>
                    <input type="text" class="form-control" name="testLink" id="testLink" placeholder="Test Link" required
                    value="http://example.com/">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="techInterview">Tech Interview *</label>
                    <input type="text" class="form-control" name="techInterview" id="techInterview" placeholder=" Tech Interview"
                    required value="Good">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="interviewLink">Interview Link</label>
                    <input type="text" class="form-control" name="interviewLink" id="interviewLink" placeholder="Interview Link"
                    value="http://example.com/">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="softSkills">Soft Skills *</label>
                    <input type="text" class="form-control" name="softSkills" id="softSkills" placeholder="Soft Skills"
                    required value="Excellent">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="summary">Summary *</label>
                    <textarea type="text" class="form-control" name="summary" id="summary" placeholder="Summary" required>Today I’m writing to introduce you to a highly talented Full Stack Engineer that could be a great fit for the Zumper team.

Candidate’s Name is already a key part of the AgileEngine team, he is currently looking for his next big challenge, after the termination of his current project. Nonetheless, below you can find the feedback from his current team at AgileEngine.</textarea>
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="prosArray">Pros (insert each skill on a new line) *</label>
                    <textarea type="text" class="form-control" name="prosArray" id="prosArray" placeholder="Pros" required>Experience with frontend automation (Java and Python using Selenium Webdriver).
He uses git as code repository and sometimes implements Cucumber/Gherkin for BDD.
Experience with Agile Methodologies (Scrum and Kanban) using Jira and Confluence.
Experience with manual testing.</textarea>
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="consArray">Cons (insert each skill on a new line) *</label>
                    <textarea type="text" class="form-control" name="consArray" id="consArray" placeholder="Cons" required>No experience with backend automation (just a little Postman for manual).
No experience with mobile automation.
No experience with e-commerce.
No experience with Jenkins.</textarea>
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="scheduleArray">Schedule (insert each option on a new line) *</label>
                    <textarea type="text" class="form-control" name="scheduleArray" id="scheduleArray" placeholder="Schedule" required>Monday, October 18th, between 12 pm and 2 pm (PDT)
Tuesday, October 19th, from 9 am to 2 pm (PDT)
Wednesday, October 20th, from 11 am to 2 pm (PDT)</textarea>
                </div>

                <!-- Submit -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
