<div class="container">
    <h5>Recruiter email: {{recruiterEmail}}</h5>
</div>

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/form" method="post" role="form" enctype="application/x-www-form-urlencoded">

                <legend>Compose:</legend>

                <!-- *** -->
                <div class="form-group">
                    <label for="subject">Email Subject *</label>
                    <input type="text" class="form-control" name="subject" id="subject" required
                    placeholder="William Jordan - Junior PHP Developer"
                    value="{{subject}}">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="emailArray">To (insert each client email on a new line) *</label>
                    <textarea type="text" class="form-control" name="emailArray" id="emailArray" required
                    placeholder="example@gmail.com
example@gmail.com">{{#if emailArray}}{{#each emailArray}}{{this}}{{#if @last}}{{else}}&#13;{{/if}}{{/each}}{{/if}}</textarea>
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="ccArray">CC (insert each email on a new line)</label>
                    <textarea type="text" class="form-control" name="ccArray" id="ccArray"
                    placeholder="example@agileengine.com
example@agileengine.com">{{#if ccArray}}{{#each ccArray}}{{this}}{{#if @last}}{{else}}&#13;{{/if}}{{/each}}{{/if}}</textarea>
                </div>

                <legend>Candidate Submission:</legend>

                <!-- *** -->
                <div class="form-group">
                    <label for="name">Candidate's Name *</label>
                    <input type="text" class="form-control" name="name" id="name" required
                    placeholder="William Jordan"
                    value="{{name}}">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="position">Position *</label>
                    <input type="text" class="form-control" name="position" id="position" required
                    placeholder="Junior Backend Developer"
                    value="{{position}}">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="bio">Bio *</label>
                    <input type="text" class="form-control" name="bio" id="bio" required
                    placeholder="Highly talented Full Stack Engineer that could be a great fit for the Zumper team."
                    value="{{bio}}">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="resumeLink">CV Link *</label>
                    <input type="text" class="form-control" name="resumeLink" id="resumeLink" required
                    placeholder="https://example.com/"
                    value="{{resumeLink}}">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="experience">Years of Experience *</label>
                    <input type="text" class="form-control" name="experience" id="experience" required
                    placeholder="5 years"
                    value="{{experience}}">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="location">Location *</label>
                    <input type="text" class="form-control" name="location" id="location" required
                    placeholder="Bogotá, Colombia"
                    value="{{location}}">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="earliestAvailability">Earliest Availability (number of weeks after approval) *</label>
                    <input type="text" class="form-control" name="earliestAvailability" id="earliestAvailability" required
                    placeholder="2 weeks after approval"
                    value="{{earliestAvailability}}">
                </div>

                <!-- *** -->
                <div class="form-group">
                  <label for="english">English *</label>
                  <select class="form-control" name="english" id="english" required>
                    {{#select english}}
                    <option value="" hidden disabled selected>-- Please select -- </option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Upper-Intermediate">Upper-Intermediate</option>
                    <option value="Advanced">Advanced</option>
                    {{/select}}
                  </select>
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="expert">Expert *</label>
                    <input type="text" class="form-control" name="expert" id="expert" required
                    placeholder="Node.js, Angular, Redux Hooks, MVV, MVVM"
                    value="{{expert}}">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="intermediate">Intermediate *</label>
                    <input type="text" class="form-control" name="intermediate" id="intermediate" required
                    placeholder="React Native, React.js"
                    value="{{intermediate}}">
                </div>

                <!-- *** -->
                <div class="form-group">
                  <label for="testTask">Test Task *</label>
                  <select class="form-control" name="testTask" id="testTask" required>
                    {{#select testTask}}
                    <option value="" hidden disabled selected>-- Please select -- </option>
                    <option value="Excellent">Excellent</option>
                    <option value="Very Good">Very Good</option>
                    <option value="Good">Good</option>
                    <option value="Average">Average</option>
                    {{/select}}
                  </select>
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="testLink">Test Link</label>
                    <input type="text" class="form-control" name="testLink" id="testLink"
                    placeholder="https://example.com/"
                    value="{{testLink}}">
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="codeLink">Code Sample</label>
                    <input type="text" class="form-control" name="codeLink" id="codeLink"
                    placeholder="https://example.com/"
                    value="{{codeLink}}">
                </div>

                <!-- *** -->
                <div class="form-group">
                  <label for="techInterview">Tech Interview *</label>
                  <select class="form-control" name="techInterview" id="techInterview" required>
                    {{#select techInterview}}
                    <option value="" hidden disabled selected>-- Please select -- </option>
                    <option value="Excellent">Excellent</option>
                    <option value="Very Good">Very Good</option>
                    <option value="Good">Good</option>
                    <option value="Average">Average</option>
                    {{/select}}
                  </select>
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="interviewLink">Interview Link</label>
                    <input type="text" class="form-control" name="interviewLink" id="interviewLink"
                    placeholder="https://example.com/"
                    value="{{interviewLink}}">
                </div>

                <!-- *** -->
                <div class="form-group">
                  <label for="softSkills">Soft Skills *</label>
                  <select class="form-control" name="softSkills" id="softSkills" required>
                    {{#select softSkills}}
                    <option value="" hidden disabled selected>-- Please select -- </option>
                    <option value="Excellent">Excellent</option>
                    <option value="Very Good">Very Good</option>
                    <option value="Good">Good</option>
                    <option value="Average">Average</option>
                    {{/select}}
                  </select>
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="prosArray">Pros (insert each skill on a new line) *</label>
                    <textarea type="text" class="form-control" name="prosArray" id="prosArray" required
                    placeholder="Experience with frontend automation (Java and Python using Selenium Webdriver).
He uses git as code repository and sometimes implements Cucumber/Gherkin for BDD.
Experience with Agile Methodologies (Scrum and Kanban) using Jira and Confluence."
>{{#if prosArray}}{{#each prosArray}}{{this}}{{#if @last}}{{else}}&#13;{{/if}}{{/each}}{{/if}}</textarea>
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="consArray">Cons (insert each skill on a new line) *</label>
                    <textarea type="text" class="form-control" name="consArray" id="consArray" required
                    placeholder="No experience with backend automation (just a little Postman for manual).
No experience with mobile automation.
No experience with e-commerce."
>{{#if consArray}}{{#each consArray}}{{this}}{{#if @last}}{{else}}&#13;{{/if}}{{/each}}{{/if}}</textarea>
                </div>

                <!-- *** -->
                <div class="form-group">
                    <label for="scheduleArray">Schedule (insert each option on a new line, ONLY DATES AND TIMES as shown in the example)</label>
                    <textarea type="text" class="form-control" name="scheduleArray" id="scheduleArray"
                    placeholder="Monday, October 18th, between 12 pm and 2 pm (PDT)
Tuesday, October 19th, from 9 am to 2 pm (PDT)
Wednesday, October 20th, from 11 am to 2 pm (PDT)"
>{{#if scheduleArray}}{{#each scheduleArray}}{{this}}{{#if @last}}{{else}}&#13;{{/if}}{{/each}}{{/if}}</textarea>
                </div>

                <!-- Preview -->
                <div class="container" style="max-width: 200px; padding-top: 1.5em;">
                  <button type="submit" class="btn btn-block" style="background-color: #EB9121;
                    height: 50px; color: #FFF; border-radius: 8px;">
                    PREVIEW
                  </button>
                </div>
            </form>
        </div>
    </div>
</div>
