<div class="container">
    <div class="row">
        <div class="login-form">
            <form action="/" method="post">

                <h3 class="text-center">Enter with your AE Google account </h3> <br>

                <center style='width:100%;margin:0 auto'>
                  <button type="submit"
                    class="btn text-uppercase btn-block"
                    style="height: 55px;max-width: 250px; background-color: #EFEFEF;">
                    <img src="https://img.icons8.com/color/16/000000/google-logo.png">
                    Login with Google
                  </button>
                </center>

            </form>
        </div>
    </div>
</div>
