<div class="jumbotron">
    <div class="container">
        <h2>Candidate Email Sending</h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/" method="post" role="form" enctype="application/x-www-form-urlencoded">
                <h4>Enter with your Google account</h4>
                <button type="submit" class="btn text-uppercase btn-google"> <img src="https://img.icons8.com/color/16/000000/google-logo.png">
                  Login with Google
                </button>
            </form>
        </div>
    </div>
</div>
