body {
  font: 14px Arial, "Lucida Grande", Helvetica, sans-serif;
}

.row {
  padding: 30px 100px 100px 100px;
}

textarea {
  min-height: 100px;
}

.jumbotron {
  background-color: #F8F9F9;
  margin: 0;
  padding: 10px;
}

form > button {
  margin: 10px 0;
  height: 60px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #F8F9F9;
}
